:root {
    --base-font-size: 1.04vw;
    --hero-h-font-size: 8em;
    --h2-font-size: 2em;
    --h3-font-size: 1.5em;
    --focus-font-size: 1.2em;

    --primary-blue-color: #21D8E3;
    --primary-green-color: #76F524;
    --primary-blue-focused-color: #23e2ec;
    --primary-green-focused-color: #87ff37;
    --primary-blue-light-color: #8ff9ff;
    --primary-green-light-color: #b1ff7d;
    --unfocus-text-color: #797979;

    --header-inline-padding: 1.56vw;
    --main-inline-padding: 5.73vw;
}