@use 'variebles';

@font-face {
    font-family: Stolzl;
    src: url("/fonts/Stolzl-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Stolzl;
    src: url("/fonts/Stolzl-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Stolzl;
    src: url("/fonts/Stolzl-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

* {
    font-size: var(--base-font-size);
    font-family: "Stolzl", sans-serif;
}

a,
.nav__link__element {
    color: black;
    cursor: pointer;
}

.fold__menu__title {
    display: flex;
    column-gap: .32vw;

    svg {
        transition: transform .2s ease;
    }

    svg path {
        fill: black;
    }
}

.fold__menu__wrapper {
    position: absolute;
    top: 1.8vw;
    left: 0;
    display: none;

    ul {
        flex-direction: column;
        row-gap: .26vw;
        background-color: white;
        border-radius: 1.04vw;
        box-shadow: 0 .21vw .83vw 0 rgba(0, 0, 0, 0.1);
        padding: .8vw .8vw;

        li * {
            color: var(--unfocus-text-color);
        }

        li path {
            fill: var(--unfocus-text-color);
        }

        li {
            padding: .5vw .8vw;
            border-radius: .52vw;
            display: flex;
            column-gap: .52vw;
            cursor: pointer;
        }

        li:hover {
            background-color: #f3f3f3;
        }

        li:hover a {
            color: black;
        }

        li:hover path {
            fill: black;
        }
    }
}

.focus__button {
    background-color: var(--primary-blue-color) !important;
    padding: .5vw .9vw;
    border-radius: .4vw;
    color: white;
    display: block;
    width: fit-content;

    &:hover {
        background-color: var(--primary-blue-focused-color) !important;
    }
}

.main__wrapped {
    padding-inline: var(--main-inline-padding);
}

.card {
    border-radius: 1.56vw;
    overflow: clip;
    padding: .8vw 1.5vw;
    box-sizing: border-box;
}

.hero__header {
    font-size: var(--hero-h-font-size);
    font-weight: 700;
}

img,
video,
svg {
    max-width: 100%;
    display: block;
}

ul {
    display: flex;
}

input:focus {
    border-color: var(--primary-green-color) !important;
}

input:is([type='checkbox'], [type='radio']) {
    accent-color: var(--primary-green-color);
}

input:is([type='text'], [type='email'], [type='password'], [type='number']) {
    border: black .055vw solid;
    border-radius: 1.04vw;
    padding: .5vw 1.2vw;
}

form {
    display: flex;
    flex-direction: column;
}

form.add__update__form {
    display: flex;
    flex-direction: column;
    row-gap: .8vw;
    width: 39.06vw;
    margin-inline: auto;
    margin-top: 2.6vw;
}

::selection {
    background-color: var(--primary-green-color);
}